
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation{
  height: 100vh;
  width: 100%;
  background: #000;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
}
.hero{
  position: absolute;
  top: 35%;
  left: 0;
  transform: translate(0, -35%);
  color: #ffffff;
  font-weight: bold;
  font-size: 56px;
  transition: all 0.5s ease;
  padding: 0 30px;
}
  .hero-title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: #ffffff;
    padding: 0 30px;
  }
 

  #navbar {
    background-color: transparent;
    height: 80px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    transition: all 1s ease;
    width: 100%;
    z-index: 999;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 24px;
  }
  
  a:hover {
    color: green;
    
  }
  
  
  @media (min-width: 768px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 1440px;
    }
  }
  
  body.scrolling #navbar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  body.scrolling .container{
    justify-content: space-around;
  }

 